.header {
  width: 100%;
  background-color: #4369b2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.search input {
  color: var(--white-color);
  background-color: transparent;
  border: red solid 2px;
}
.currenciesList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.currenciesList div {
  flex: 50%;
}
