.NavBar {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--blue);
}

.navUl {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
