.header {
  width: 100%;
  background-color: #4369b2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: var(--white-color);
}

.header h1 {
  font-family: var(--title-font);
  font-size: large;
  margin: 0;
  padding: 0;
}

.headerIcons {
  display: flex;
  gap: 1rem;
}

.containerDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--light-blue);
}

.mainDetails {
  position: static;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  background-color: var(--light-blue);
  width: 100%;
  height: 50%;
  padding: 4rem;
  color: var(--white-color);
}

.detailsIcon {
  align-self: center;
  width: 20rem;
  height: 12rem;
}

.detailsTags {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: end;
}

.detailsUl {
  list-style: none;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.detailsUl li {
  display: flex;
  padding: 1rem;
  gap: 0.4rem;
  width: 100%;
  font-family: var(--body-font);
  font-size: medium;
  font-weight: 300;
  justify-content: center;
  color: var(--white-color);
}

.detailsUl li:nth-child(1) {
  justify-content: start;
  height: 5%;
  font-family: var(--title-font);
  font-weight: 500;
}

.detailsUl li:nth-child(even) {
  background-color: var(--light-blue);
}

.detailsUl li:nth-child(odd) {
  background-color: var(--dark-blue);
}
