.currencyDiv {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  border: solid 1px black;
  height: 11.5rem;
}

.currencyIcon {
  align-self: center;
  flex: 50%;
  height: 10rem;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter:
    invert(34%) sepia(61%) saturate(571%) hue-rotate(181deg)
    brightness(93%) contrast(88%);
}

.currencyTags {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
