/* CSS variables */
:root {
  --white-color: #fff;
  --black-color: #121212;
  --warm-grey: #888;
 --blue: #4369b2;
 --dark-blue: #3f62a4;
 --light-blue: #5586e2;
  --main-font: "Montserrat", sans-serif;
  --second-font: "Roboto Slab", serif;
}

body {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

